@font-face {
  font-family: "Shapiro25SuperFly";
  src: url("../fnt/Shapiro25SuperFly.woff");
}

@font-face {
  font-family: "Shapiro45Welter";
  src: url("../fnt/Shapiro45Welter.ttf");
}

@font-face {
  font-family: "Shapiro-85SuperHeavy";
  src: url("../fnt/Shapiro85SuperHeavy.ttf");
}

body {
	font-family: "Shapiro45Welter", Helvetica, sans-serif;
	color: #71747c;
	background-color: #f7f7f7;
	font-size: 16px;
}

h1 {
	font-family: "Shapiro25SuperFly";
	font-size: 44px;
	letter-spacing: -1px;
	line-height: 48px;
	margin-bottom: 30px;
}

.container-fluid {
	overflow: hidden;
}

#logo {
	height: 170px;
	padding-top: 100px;
	padding-left: 70px;
}

.copy {
	padding-top: 110px;
}

.icon {
	padding-top: 17px;
}

.app {
	position: relative;
	height: 450px;
}

.app img {
	position: absolute;
}

.secure .app img {
	right: 0;
}

.verification, .secure, .organise, .signup {
	margin-bottom: 90px;
}






/* //////////////////////    Responsive    ///////////////////////////////////////////////// */

@media (max-width: 640px) {
 
}
@media (min-width: 640px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 992px) {
 
}

@media (min-width: 992px) and (max-width: 1200px) {
 

}
